*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --c1: #40E0D0; /*a/*/
    --c2: #f0d0b9; /*background color*/
    --c3: #01c1ae; /*h2/strong color/*/
    --c4: #FF7F50; /* h1/strong color/*/
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c2);
    font-family: Nerko one;
}

h1{
    font-size: 4rem;
    color:var(--c4);
    font-weight: lighter;
    text-shadow: 2px 2px 0 black;
}

h2{
    color: var(--c3);
    font-size: 2.5rem;
    text-shadow: 2px 2px 0 black;
}